{%- assign section = include.section -%}
<section class="education">
  <div class="section-title">
    <i class="section-icon fa-solid fa-user-graduate" aria-hidden="true"></i>
    <h2>{{ section.title | escape }}</h2>
  </div>
  <div class="section-content">
    {%- if section.summary %}
      <div class="summary">{{ section.summary | markdownify }}</div>
    {%- endif %}
    {%- if section.items %}
      <div class="items">
        {%- for item in section.items %}
          <div class="item">
            {%- if item.institution %}
              <div class="item-line">
                <div class="institution item-title">
                  {%- if item.link %}
                    <a href="{{ item.link | escape }}">{{ item.institution }}</a>
                  {%- else %}
                    <span>{{ item.institution }}</span>
                  {%- endif %}
                </div>
                <div class="date item-aside item-aside--nowrap"><span>{{ item.date | escape }}</span></div>
              </div>
              <div class="item-line">
                <div class="major item-meta"><span>{{ item.major | escape }}</span></div>
                {%- if item.degree %}
                  <div class="degree item-aside item-inline">
                    <i class="fa-solid fa-graduation-cap" aria-hidden="true"></i>
                    <span>{{ item.degree | escape }}</span>
                  </div>
                {%- endif %}
              </div>
              {%- if item.summary %}<div class="summary">{{ item.summary | markdownify }}</div>{% endif %}
            {%- endif %}
          </div>
        {%- endfor %}
      </div>
    {%- endif %}
  </div>
</section>
