{%- assign section = include.section -%}
<section class="project">
  <div class="section-title">
    <i class="section-icon fa-solid fa-folder-open" aria-hidden="true"></i>
    <h2>{{ section.title | escape }}</h2>
  </div>
  <div class="section-content">
    {%- if section.summary %}
      <div class="summary">
        {{ section.summary | markdownify }}
      </div>
    {%- endif %}
    {%- if section.items %}
      <div class="items">
        {%- for item in section.items %}
          <div class="item">
            {%- if item.name %}
              <div class="item-line">
                <div class="project-name item-title item-inline">
                  {%- if item.link %}
                    <a href="{{ item.link | escape }}">{{ item.name | escape }}</a>
                  {%- else %}
                    <span>{{ item.name | escape }}</span>
                  {%- endif %}
                  {%- if item.tags %}
                    <span class="item-tags">[{{ item.tags | escape }}]</span>
                  {%- endif %}
                </div>
                {%- if item.date %}
                  <div class="date item-aside item-aside--nowrap">
                    <span>{{ item.date | escape }}</span>
                  </div>
                {%- endif %}
              </div>
              {%- if item.summary %}
                <div class="summary">
                  {{ item.summary | markdownify }}
                </div>
              {%- endif %}
            {%- endif %}
          </div>
        {%- endfor %}
      </div>
    {%- endif %}
  </div>
</section>
