{%- assign section = include.section -%}
<section class="reference">
  <div class="section-title">
    <i class="section-icon fa-solid fa-circle-nodes" aria-hidden="true"></i>
    <h2>{{ section.title | escape }}</h2>
  </div>
  <div class="section-content">
    {%- if section.summary %}<div class="summary">{{ section.summary | markdownify }}</div>{% endif %}
    {%- if section.items %}
      <div class="items items--columns">
        {%- for item in section.items %}
          <div class="item">
            {%- if item.name %}
              <div class="reference-name item-title">
                {%- if item.link %}<a href="{{ item.link | escape }}">{{ item.name | escape }}</a>{% else %}<span>{{ item.name | escape }}</span>{% endif %}
              </div>
              {%- if item.title %}<div class="reference-title item-meta"><span>{{ item.title | escape }}</span></div>{% endif %}
              {%- if item.institution %}<div class="reference-institution"><span>{{ item.institution | escape }}</span></div>{% endif %}
              {%- if item.address %}<div class="reference-address"><span>{{ item.address | escape }}</span></div>{% endif %}
              {%- if item.email %}<div class="reference-email"><a href="mailto:{{ item.email | escape }}">{{ item.email | escape }}</a></div>{% endif %}
              {%- if item.phone %}<div class="reference-phone"><a href="tel:{{ item.phone | escape }}">{{ item.phone | escape }}</a></div>{% endif %}
              {%- if item.summary %}<div class="summary">{{ item.summary | markdownify }}</div>{% endif %}
            {%- endif %}
          </div>
        {%- endfor %}
      </div>
    {%- endif %}
  </div>
</section>
