<meta charset="utf-8">
<meta name="viewport" content="width=device-width">

{%- if site.private != true %}
  <title>{{ page.title | default: site.title | escape }}</title>
{%- else %}
  <title>Online Resume</title>
{%- endif %}

{%- if site.private == true or site.allow_indexing != true %}
  <meta name="robots" content="noindex, nofollow">
{%- endif %}

<meta name="description" content="{{ page.description | default: site.description | default: site.title | escape }}">
<link rel="canonical" href="{{ page.url | absolute_url }}">

{%- include features/scripts.html -%}
{%- include head/fonts.html language=include.language -%}
{%- include head/css.html language=include.language -%}
{%- include head/analytics.html -%}
